@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background-image: url("Rose Pattern.png");
	background-repeat: round;
}
h1{
	visibility: hidden
}
#container{width:800px; height: 1500px; background-color: #d80c01; margin: auto}
.gallery{
	font-family: "Old English Text MT";
	color: white;
	background: rgba(81,0,1,1.00);
}
a:link {
  color:black;
}

a:visited {
  color:rgba(255,255,255,1.00);
}

a:hover {
  color: rgba(245,194,0,1.00);
}

a:active {
  color: #0000FF;
}
.left{
	width:250px;
	height: 400px;
	background-color: rgba(255,229,229,.70);
	float: left;
	margin: 10px 15px 10px 10px;
	padding: 10px;
	font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;

}
.right{
	font-family: "Old English Text MT";
	width:500px;
	height: 600px;
	background-color: rgba(255,229,229,.70);
	float: left;
	margin: 10px 5px 10px 10px;
	padding: 10px;
	
}
footer{
	width: 800px;
	height: 20px;
	background-color: rgba(255,255,255,.50);	
	border-style: inset;
	float:left; 
	font-family: "Sofadi One", system-ui;
  font-weight: 400;
  font-style: normal;
}